<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Weather Widget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>WeatherDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>WeatherKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>19B36D071D7E540600BE0903</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>19B36D191D7E54A000BE0903</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4FCCF6E1A5F7DFF006183CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4FCCF831A5F7DFF006183CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
